/node_modules/
.idea


/packages/core/node_modules/
/packages/core/test-results/
/packages/core/coverage/
/packages/angular/dist/
/packages/angular/node_modules/
/packages/query/dist/
/packages/core/dist/

